*{
  padding: 0px;
  margin: 0px;
}

header{
  background-color:#407CF8;
  padding:0;

  /* padding-bottom: 3vh: */
  height:15vh;
  /* text-align: center; */

}
header p{
  /* margin-top: 1vh; */
  padding-top: 1vh;
  text-align: center;
  font-size: 8vh;
  margin-bottom: 3vh;
  color: white;
}


.box1{
  display: inline-block;
  margin-top: 1vh;

  /* width:20vw; */

}
.box2{
  /* width:100px; */
  display: inline-block;
  margin-top: 1vh;

}
.box3{
  margin-top: 1vh;
}

h3{
  font-size: 2em;
  align-items: center;
}

.title{
  margin-bottom: 1em;
}
.result{
  margin:0 auto;
  font-size: 3vh;
  text-align: center;
}

.landmark-Result{
    margin-top: 1vh;
}
.labels-Result{
  margin-top: 1vh;
  /* background-color: #0984e3; */
  /* font-size: 5vw; */
  /* font-size: 5vh; */
}

.WebSite-Result a{
  /* font-size: 5vh; */
  /* font-size: 0.5em; */
}

.upLoadBox{
  margin-top: 5vh;
  margin-left:35vw;
  width:30vw;
}

.imgBox{
  margin:2vw;
  /* hieght:10vh; */
  /* width:10vh; */
}
#imageBox{
  margin-right: 10em;
  width:14vw;
  height:28vh;
}
.picURL{
  display: inline;
}
.subBtn{
  display: inline;

}

#map {
  height: 30vh;
  width:20vw;
  margin-bottom:1vh;

}
